* {
    box-sizing:border-box;
    font-size:12px;
    margin:0;
    padding:0;
}
page {
    display:block;
    width:770px;
    background-image:url(img/logo.png);
    background-repeat:no-repeat;
    background-position:421px top;
    padding-top:38px;
    position:relative;
    height:293mm;
    overflow:hidden;
    padding-bottom:2rem;
    page-break-after:always;
}
page > * {
    margin:1rem 1rem 1rem 6rem;
}
number {
    margin:0;
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
    text-align: center;
    background-color:gray;
    color:white;
    height:2rem;
    line-height:2rem;
    font-weight: bold;
    border-radius:4px;
}
/******************************************************/
a {
    font-size:inherit;
    /*color:blue;*/
}
strong {
    color:red;
}
em {
    font-weight:bold;
}
img {
    max-width:100%;
}
/******************************************************/
hr {
    margin:1rem 1rem 0 4rem;
}
h1 {
    margin:1rem 0 0 0;
    width:770px;
    height:50px;
    background-image:url(img/header.png);
    line-height:50px;
    font-weight:bold;
    font-size:2rem;
    color:#fff;
    padding-left:1em;
}
h2 {
    margin:1rem 0 0 4rem;
    font-size:1.5rem;
    font-weight:bold;
}
h2:before {
    content:"●";
    margin-right:.5rem;
}
h3 {
    margin:1rem 0 0 6rem;
    font-size:1.25rem;
    font-weight:bold;
}
h3:before {
    content:"■";
    margin-right:.5rem;
}
p {
    padding:0 0 0 0;
}
ul,ol {
    padding:0 0 0 1.5rem;
}
blockquote {
    padding:.5rem 0 .5rem 1rem;
    border-left:.5rem solid #ccc;
    background-color:#eee;
}
